<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
<html>
<div id="app">
    <div class="title-container">
      <div>
        <h3 class="title">
         ONLINE SHOPPING USING FILTER
        </h3>
      </div>
      <div class="filters">
        <span class="filter" v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
        <span class="filter" v-bind:class="{ active: currentFilter === 'LENOVO' }" v-on:click="setFilter('LENOVO')">LENOVO</span>
        <span class="filter" v-bind:class="{ active: currentFilter === 'HP' }" v-on:click="setFilter('HP')">HP</span>
        <span class="filter" v-bind:class="{ active: currentFilter === 'DELL' }" v-on:click="setFilter('DELL')">DELL</span>
        <p class="filter" v-bind:class="{ active: currentFilter === 'LAPTOP' }" v-on:click="setFilter('LAPTOP')">LAPTOP</p>
        <span class="filter" v-bind:class="{ active: currentFilter === 'MOBILE' }" v-on:click="setFilter('MOBILE')">MOBILE</span>
        <p class="filter" v-bind:class="{ active: currentFilter === 'I5' }" v-on:click="setFilter('I5')">I5</p>
        <span class="filter" v-bind:class="{ active: currentFilter === 'I3' }" v-on:click="setFilter('I3')">I3</span>
        <span class="filter" v-bind:class="{ active: currentFilter === 'I7' }" v-on:click="setFilter('I7')">I7</span>
        <p class="filter" v-bind:class="{ active: currentFilter === '3GB' }" v-on:click="setFilter('3GB')">3GB</p>
        <span class="filter" v-bind:class="{ active: currentFilter === '4GB' }" v-on:click="setFilter('4GB')">4GB</span>
        <span class="filter" v-bind:class="{ active: currentFilter === '8GB' }" v-on:click="setFilter('8GB')">8GB</span>
        <span class="filter" v-bind:class="{ active: currentFilter === '6GB' }" v-on:click="setFilter('6GB')">6GB</span>
        <span class="filter" v-bind:class="{ active: currentFilter === '12GB' }" v-on:click="setFilter('12GB')">12GB</span>
        <span class="filter" v-bind:class="{ active: currentFilter === '16GB' }" v-on:click="setFilter('16GB')">16GB</span>
      </div>
    </div>
  
 




    <transition-group class="projects" name="projects" >
      <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL' || currentFilter === project.type || currentFilter === project.processor || currentFilter === project.ram || currentFilter === project.storagetype || currentFilter === project.storage" v-bind:key="project.title" v-for="project in projects">

      
   
        <div class="project-image-wrapper">
          <img class="project-image" v-bind:src="project.image">
          <div class="gradient-overlay"></div>
          <div class="circle">
            <span class="project-title">{{project.title}}</span>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
  </html>
<script>
new Vue({
    el: '#app',
    laptopp:'',
    data: {
      currentFilter: 'ALL',
      projects: [
        {title: "Laptop", image: "4.jpg", category: 'HP',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'SSD',storage:'512GB'},
        {title: "Laptop", image: "5.jpg", category: 'HP',type:'DESKTOP',processor:'I3',ram:'16GB',storagetype:'SSD',storage:'512GB'},
        {title: "Laptop", image: "6.jpg", category: 'HP',type:'LAPTOP',processor:'I3',ram:'4GB',storagetype:'SSD',storage:'1024GB'},
        {title: "Laptop", image: "1.jpg", category: 'LENOVO',type:'LAPTOP',processor:'I7',ram:'8GB',storagetype:'SSD',storage:'512GB'},
        {title: "Laptop", image: "2.jpg", category: 'LENOVO',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'SSD',storage:'512GB'},
        {title: "Laptop", image: "3.jpg", category: 'LENOVO',type:'LAPTOP',processor:'I3',ram:'4GB',storagetype:'HDD',storage:'1024GB'},
        {title: "Laptop", image: "7.jpg", category: 'DELL',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'HDD',storage:'512GB'},
        {title: "Laptop", image: "8.jpg", category: 'DELL',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'HDD',storage:'512GB'},
        {title: "Laptop", image: "9.jpg", category: 'DELL',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'SSD',storage:'1024GB'},
        {title: "Laptop", image: "10.jpg", category: 'DELL',type:'LAPTOP',processor:'I5',ram:'8GB',storagetype:'HDD',storage:'1024GB'},
        {title: "Mobile", image: "11.jpg", category: 'MOTOROLA',type:'MOBILE',processor:'ARM',ram:'8GB',storagetype:'EMMC',storage:'128GB'},
        {title: "Mobile", image: "12.jpg", category: 'APPLE',type:'MOBILE',processor:'A14',ram:'4GB',storagetype:'EMMC',storage:'512GB'},
        {title: "Mobile", image: "13.jpg", category: 'SAMSUNG',type:'MOBILE',processor:'ARM',ram:'3GB',storagetype:'EMMC',storage:'64GB'},
        {title: "Mobile", image: "14.jpg", category: 'MOTOROLA',type:'MOBILE',processor:'ARM',ram:'3GB',storagetype:'EMMC',storage:'64GB'},
        {title: "Mobile", image: "15.jpg", category: 'APPLE',type:'MOBILE',processor:'A14',ram:'4GB',storagetype:'EMMC',storage:'64GB'},
        {title: "Mobile", image: "16.jpg", category: 'SAMSUNG',type:'MOBILE',processor:'ARM',ram:'6GB',storagetype:'EMMC',storage:'64GB'},
        {title: "Mobile", image: "17.jpg", category: 'ASUS',type:'MOBILE',processor:'ARM',ram:'12GB',storagetype:'EMMC',storage:'128GB'},
        {title: "Mobile", image: "18.jpg", category: 'ASUS',type:'MOBILE',processor:'ARM',ram:'12GB',storagetype:'EMMC',storage:'128GB'},
        
      ]
    },
    methods: {
      setFilter: function(filter) {
        this.currentFilter = filter;
      }
    }
  })</script>  
